$main-font-color: #666666;
$green : #a7c353;
*{
    font-family: Georgia, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
body{
    background-color: #313131;
    color: $main-font-color;

}
.container{
    max-width: 920px;

}
.d-flex{
    display: flex;
}
.link {
    a {
        color: $green;
        text-decoration: none;
    }
}
.link:hover {
    a {
        text-decoration: underline;
    }
}
.link:visited,
.link:active {
    color: $main-font-color;
    text-decoration: line-through;
}
.header, main {
    background-color: white;

}

.header {
    border-top: 4px solid $green;
    .container{
        justify-content: space-between;
        border-bottom: 1px solid $green;
    }
    &__logo-wrapper {
        color: $main-font-color;
        font-size: 32px;
        margin: 0;
        padding: 10px 0;
        min-width: 160px;

        p{
            margin: 0;
            padding: 10px 10px 10px 0;
            text-align: left;
            font-size: 26px;
            color: #666666;
            letter-spacing: 1px;
        }
        span{
            display: block;
            font-size: 12px;
            text-transform: capitalize;
            color: #999999;
            letter-spacing: -0.5px;
        }
    }
    &__nav{
        ul{ 
            list-style: none;
            display: flex;
            height: 103%;
            position: relative;
            top: -2px;
            
            li { 
                height: 100%;
                padding: 25px 15px ;
                line-height: 2;

                a {
                    text-transform: capitalize;
                    color: $main-font-color;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 13px;
                    
                    }
                    &:hover,
                    &:visited,
                    &:active{
                        text-decoration: underline ;
                    }
                }
            
            .active {
                background-color: $green;
                a{
                    color: white;
                }
                
                }
        }
    }
}
h3, h4{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 20px;
}
.other-info{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 40px;
}
.title{
    q {
        font-size: 20px;
        font-style: italic;
        max-width: 700px;
        display: block;
        padding: 50px;
        margin: auto;

    }
}
.slider{
    margin-bottom: 20px;

    .container{
        position: relative;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 30px ;
    }
    position: relative;
    &__text-wrapper{
        max-width: 350px;
        position: absolute;
        color: white;
        bottom: 0;
        right: 0;
        z-index: 10;
        margin-bottom: 90px;
        margin-right: 50px;
    }
    &__title{
        font-size: 22px;
        color: white;
        background-color: $green;
        padding: 10px;
        margin-bottom: 10px;
    }
    &__description{
        font-size: 13px;
        background-color: white;
        color: $main-font-color;
        padding: 10px;
    }
    // slider styles
    .sim-slider {
        position: relative;
      }
      img {
          width: 100%;
          max-height: 350px;

      }
      .sim-slider-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: relative;
      }
      
      .sim-slider-element {
        width: 100%;
        transition: opacity 1s ease-in;
        opacity: 0;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        display: block;
      }
      
      /* Navigation item styles */
      div.sim-slider-arrow-left,
      div.sim-slider-arrow-right {
        width: 50px;
        height: 50px;
        position: absolute;
        cursor: pointer;
        opacity: 0.6;
        z-index: 4;
        padding: 5px;
        border: 2px solid $green;
        border-radius: 100%;
        background-color: black;
    
      }
      .icon-left-arr::before, 
      .icon-right-arr::before{
        font-size: 20px;
        font-weight: bold;
        color: $green;
        position: relative;
        top: 8px;
      }
      .icon-left-arr::before{
        left: 10px;
      } 
      .icon-right-arr::before{
        left: 15px;
      }
      div.sim-slider-arrow-left {
        left: 10px;
        top: 40%;
        display: block;
      }
      
      div.sim-slider-arrow-right {
        right: 10px;
        top: 40%;
        display: block;
      }
      div.sim-slider-arrow-left:hover {
        opacity: 1.0;
      }
      
      div.sim-slider-arrow-right:hover {
        opacity: 1.0;
      }
      
      div.sim-slider-dots {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        bottom: 0;
        z-index: 3;
        text-align: center;
        padding-top: 20px;
      }
      
      span.sim-dot {
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        padding: 0;
        display: inline-block;
        background-color: $green;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid $green;
      }
      span.sim-dot:hover {
          transform: scale(1.2);
      }
}
.about {
    &__img-wrapper {
        margin-top: 10px;
        width: 100%;
        border: 1px solid $main-font-color;
        padding: 5px;
        img{
            display: block;
        }
    }
    &__text-wrapper{
        p {
            font-size: 12px;
            margin-top: 20px;
        }
        .link{
            text-align: right;
            padding-bottom: 20px;
            margin-top: 10px;
        }
    }
}
.services {
    &__item {
        display: grid;
        grid-template-columns: 64px auto;
        gap: 5px;
        margin-bottom: 25px;
        &s-container{
            margin-top: 25px;
        }
        &-img-wrapper{
            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        &-text-wrapper{
            h4 {
                font-size: 14px;
            }
            p{
                font-size: 13px;
                margin-top: 10px;
            }
            
        }
    }
    .link {
        text-align: right;
        font-size: 12px;
    }
}
.feed-back {
    &__item {
        span{
            font-weight: 700;
            position: relative;
        }
        p:first-of-type{
            padding: 15px 0 10px 50px;
        }
        span::before {
            content: '“';
            font-size: 80px;
            position: absolute;
            top: -20px;
            left: -50px;
            color: rgba( $main-font-color, $alpha: 0.3);
        }
        p{
            font-size: 13px;
        }
        .link{
            text-align: right;
            padding-bottom: 30px;
        }
    }

}
.footer {
    color: #999999;

    &__top {
        border-bottom: 1px solid rgba($color: #3a3a3a, $alpha: 0.5) ;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 20px;
        gap: 15px;
        h4{
            border-bottom: 1px solid #3a3a3a;
            color: lighten($color: $main-font-color, $amount: 30);
            padding: 10px;
            color: #ffffff;
            font-size: 16px;
            padding: 10px 0;
        }
        &-contacts {
            margin: 0;
            &-text {
                margin-top: 15px;
                font-size: 12px;
                p{
                    margin-bottom: 15px;
                }
            }
        }
        &-links {
            margin: 0;
            &-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 0;
                text-align: left;
                border-bottom: 1px solid rgba($color: #3a3a3a, $alpha: 0.5) ;
            }
            .fa-linkedin-in,
            .fa-twitter,
            .fa-pinterest,
            .fa-rss {
                color: white;
                padding: 7px;
                border: 1px solid $main-font-color;
                border-radius: 100%;
                margin: 0;
                
                &:hover{
                    background-color: darken($main-font-color, 0.7) ;
                }

            }
            .link {
                margin: 15px 0 10px 5px ;
                a{
                    font-size: 12px;
                    
                }
                }
        }
        &-blog-wrapper{
            margin: 0;
            margin-top: 10px;

            h5 {
                font-size: 13px;
            }
            p{
                font-size: 11px;
                padding: 5px 5px 0 0;
                line-height: 1.5;
            }
            .link {
                text-align: right;
            }
        }
        &-contact-us {
            margin: 0;
            input, textarea {
                background-color: #383838;
                margin-top: 10px;
                border: 1px solid transparent;
                border-radius: 5px;
                padding: 5px;
                color: $main-font-color;
                width: 100%;
                
            }
            input::placeholder,
            textarea::placeholder {
                color: $main-font-color;
                font-size: 13px;
            }
            input:focus, textarea:focus {
                outline: none;
                color: white;
                background-color: transparent;
                border-bottom: 1px solid $main-font-color;
            }
            input:hover, textarea:hover {
                border: 1px solid $main-font-color;
            }
            button {
                background-color: $green;
                color: #313131;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                text-transform: uppercase;
                margin-top: 10px;
                font-size: 13px;
            } 
            button:hover {
                background-color: transparent;
                color: $green;
                transform: scale(1.2);
            }
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 12px;
        p {
            margin: 0;
        }
    }
}

// MEDIA TABLET 
@media (max-width: 768px) {
    .other-info {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding-bottom: 40px;
        article, section{
            max-width: 80%;
            margin: 0 auto;
        }
    }
    .services{
        width: 100vw;

        &__items-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr  auto;
            gap: 10px;
        }
        &__item-img-wrapper {
            max-height: 64px;
        }
        .link {
            text-align: center;
            padding: 20px 0 0 0;
        }
    }
    .feed-back__item {
        .link {
            padding-bottom: 0;

    }}
    .footer{
        &__top {
            grid-template-columns: 40% 40%;
            grid-template-rows: auto auto;

           & > div{
                margin: 15px;
            }
        }
    }
}
@media (max-width: 576px){
    .header {
        .container{
            flex-direction: column;
    }
    &__nav {
        width: 100%;
        ul {
            flex-direction: column;
            li{
                width: 100%;
                padding: 15px 10px;
                text-align: center;
                }
            }
        }
    }
    .slider__text-wrapper{
        margin-bottom: 0;
        margin-right: 10px;
    }
    .other-info{
        section, article {
            max-width: 90%;
        }
    }
    .services__items-container{
        grid-template-columns: 1fr;
    }
    .feed-back {
        .link{
            margin-top: 20px;
        }
    }
    .footer__top{
        grid-template-columns: 1fr;
    }
    .footer__bottom{
        flex-direction: column;
    }
}